/*formModal */


.contact_modal {
  
    z-index: 10000;
    width: 100%;
    background-color: #fff;
    height: 100% ;
    position: fixed;
    top: 0;
    left: 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
   
}
.contact_button:hover, .contact_button:focus{
    color: #000000;
    background: #DB8876;
}

.modal {
    max-width: 669px;
    height: 100%;
    max-height: 900px;
    border-radius: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5% auto;
    padding: 15px 35px 38px 35px;
    background-color: #DB8876;

}

.modal header{
    width: 100%;
    flex-direction: column;
}
.modal .header {
    justify-content: space-between;
    width: 100%;
    
}

.modal .header img {
    cursor: pointer;
}

.modal .header h2 {
    /* font-size: 64px; */
    font-size: clamp(32px,4vw,64px);
    font-weight: normal;
    font-weight: 400;
    
}
.modal header h3{
    font-size: 64px;
    font-weight: 400;
    width: 100%;
    font-size: clamp(32px,4vw,64px);
}
.modal label{
    font-size: clamp(16px,2vw,32px);
    color: #312E2E;
    font-size: 36px;
}
.modal form{
    margin-top: 50px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
   
}

input.text-area{
    height: 170px;
}