/* la page des photographe */

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin-top: 20px;
  font-weight: 400;
  margin-bottom: 3px;
  text-align: center;
}

.photographer_section article h3,
.photograph-header .info h2 {
  color: #901c1c;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 3px;
}

.photographer_section article p {
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 3px;
}
.photographer_section article span {
  color: #757575;
  text-align: center;
  font-family: "DM Sans";
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.photographer_section article img,
.photograph-header img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.photos_section {
  display: grid;
  grid-gap: 95px;
  grid-template-columns: repeat(3, auto);
}

.containerImage {
  max-width: 24.3vw;
  width: 100%;
  height: auto;
}

.containerImage img , .containerImage video{
  width: 100%;
  height: 20.83vw;
  object-fit: cover;
  border-radius: 5px;
  max-width: 350px;
  max-height: 300px;
  z-index: 9;
}

.containerInfo {
  color: #901c1c;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}

.containerInfo p {
  font-size: clamp(14px, 1.5vw, 24px);
}

.likes {
  display: flex;
  align-items: center;
}

.photograph-header {
  background-color: #fafafa;
  padding: 0 50px 0 34px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 71px;
}

.photograph-header h2 {
  font-size: 64px !important;
}
.photograph-header h3 {
  color: #901c1c;
}
/* filtres
.filter-wrapper{
  position: relative;
}
 .filter {
  display: flex;
  gap: 30px;
  position: absolute;
  top: -58px;
} 

.filter label, .filter-select {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
}
.filter label{
  display: flex;
  gap: 30px;
  position: absolute;
  top: -58px;
}

#filter-select option{
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
  padding-left: 10px;
  padding-bottom: 14px;
  padding-top: 4px;
  cursor: pointer;
}

#filter-select{
  width: 170px;
  background-color: #901c1c;
  color: #fff;
  padding: 13px 10px 10px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
  height: 40px;
}
#date,#title{
  padding-top: 14px;
}

.filter ul li:nth-child(1),.filter ul li:nth-child(2){
  border-bottom: 1px solid white;

}
.filter img{
  position: absolute;
  top: 13px;
  right: 0;
  z-index: 3;
  cursor: pointer;
} */
/* filtres */
.filter-wrapper {
  position: relative;
}
.filter {
  display: flex;
  gap: 30px;
  position: absolute;
  top: -58px;
}

.filter p,
.filter ul {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
}

.filter p {
  color: #000;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
}

.filter ul {
  width: 170px;
  background-color: #901c1c;
  color: #fff;
  padding: 13px 10px 20px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
  z-index: 10;
}
.filter ul li {
  padding-left: 10px;
 
  padding-top: 4px;
  cursor: pointer;
}
.filter ul li:nth-child(2),
.filter ul li:nth-child(3) {
  padding-top: 14px;
 
}
.filter ul li:nth-child(1),
.filter ul li:nth-child(2) {
  border-bottom: 1px solid white;
  padding-bottom: 14px;
}
.filter img {
  position: absolute;
  top: 13px;
  right: 0;
  z-index: 11;
  cursor: pointer;
}
.active {
  height: unset !important;
}

/* arrow */
.open {
  display: block;
}

.containerImage img,
.clicklike {
  cursor: pointer;
}
